
.button{
    width:224px;
    height:48px;
    background-color: #0b0d12;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    border-radius:25px 0px 20px 25px ;
    border-color: #06070a;
    cursor: pointer;


}