.coursesSection {
  margin-bottom: 1rem;
  text-align: center;
}

.coursesTitleContainer {
  margin: 3rem 0;
}
.title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  color: black;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.title:hover:after {
  width: 100%;
  right: 0;
}
.title:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  right: 0;
  position: absolute;
  background: var(--main-color);
  transition: width 1s ease 0s, right 0.5s ease 0s;
  width: 50%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  width: 307px;
  height: 230px;
  text-align: center;
  position: relative;
  cursor: pointer;
  padding: 15px 13px;
  margin: 1.5rem 1.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}

.card:hover::before {
  animation: animate 1s linear forwards;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: var(--main-color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 100%;
    border-top-color: var(--main-color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: var(--main-color);
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: var(--main-color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: var(--main-color);
  }
}

.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}

.card:hover::after {
  animation: animates 1s linear forwards;
}

@keyframes animates {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: var(--main-color);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: var(--main-color);
    border-bottom-color: var(--main-color);
    border-left-color: transparent;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: var(--main-color);
    border-bottom-color: var(--main-color);
    border-left-color: transparent;
  }
}

.cardHeading {
  color: black;
  font-weight: 400;
  margin: 0.25rem 0;
}

.card img {
  filter: invert(53%) sepia(71%) saturate(3548%) hue-rotate(340deg)
    brightness(95%) contrast(98%);
}
